language: python
python:
- 3.6
- 3.7
- 3.8
sudo: false
install:
- pip install -U pip nose
- pip install .
script:
- nosetests --stop --verbose tests
deploy:
  provider: pypi
  user: dopstar
  password:
    secure: J4ZotGNxPfZ5rcygHB4iO9BXWhGbmtxsDNzMab0kIivsN72ely9i1LBZpGcEIkZvRiKHLMHzPTCQHRHEabSQNqV+dZswjWKniEosk+OnXCZQHpi2urJAZLC+6qTRn9XfgB4tB+vQoie4McB+nJGhGOikJ7xnAuYWp+KLXC9Qjuk7X8bJlY8Wch5CD6zDt4cOpf7P7yrVEN9Q8amlL6B0UdXFB9GBR3CxDzyv69ok7EYRS43xnwDXYNbCOYDS0ufyoDhSiw4YRgwE9wHNGmQPnwIySPHXEAwzesZyeVoi3yINwmDw64AaIpi+Fy/TJea/e0ZvPuLunD/MelryqNeQKDbq5ahPXaWCzUmS+q2DbSw7IzRJOGPgNodBwdees4PD+H8/LWrAvEPEASyeGegXqnuy85ARekr1MO5lyOEwoO5peSPD2gupbumk+Qcyu9yqvbHJLy3tApD7hwYehSicQhrX3y+WbHeQrZRzcfeMWmz9HrzPUTN5f5qmstpcD8++66zlfn5Q31sB8/QjMGeJdsyjvaFmMe+Ho+YhsI4LDwTwutLrFlWtoun3Sa//tVHpbMQFxjt0MsBxQSE4USrsXVnDEa7jYXr3DEiBeYoaQxNoYZNKIO3xbF7et+Ggj9dk9rMzer/htmbBCWsRkIQXmbCV1dbOf0QWmV+jJDaM0dA=
  on:
    tags: true
